html {
    scroll-behavior: smooth;
  }


.fw-bold{
    background: -webkit-linear-gradient(#6fef65, #57addb);
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;
    padding-top: 100px;
    margin-top: -200px;
    padding-bottom: 10px;
}

.descp{
    font-size: 40px;
    margin-bottom: -20px;
}

.project{
    border: 1px;
    border-bottom-style: solid;
    border-color: rgb(219, 219, 219);
}
    
img{
    width: 60%;
    padding: 5px;
}
   
.card-text{
    font-size: 30px;
    font-weight: 400;
}
.btn{
    text-decoration: none;
    
}

.card-body{
    background: linear-gradient(77deg, #e8ffef 16%, #dbfffa 92%);
    border-radius: 5px;
}
.btn:hover{
color: white;
}

footer{
    background: linear-gradient(185deg, #cfffdd 16%, #caeff0 92%);
}


