html {
    scroll-behavior: smooth;
  }


.fw-bold{
    color: green;
    font-size: 65px;
}

.descp{
    font-size: 40px;
}

.project{
    border: 1px;
    border-bottom-style: solid;
    border-color: rgb(219, 219, 219);
}
    
img{
    width: 60%;
    padding: 5px;
}
   
.card-text{
    font-size: 30px;
    font-weight: 400;
}
.btn{
    text-decoration: none;
    
}

.btn:hover{
color: white;
}



